
h1{
    text-align: center;
}
.gioithieu p{
    font-size: 15px;
}
.link-pr{
    font-weight: bold;
    color: #009981;
    text-decoration: none;
}
.link-trangchu{
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#findd{
    margin-left: -12%;
    text-align: center  ;
}
#heeh{
    font-weight: bold;
}
h2,h4{
    margin-top: 10%;
    color: red;
    background-color: antiquewhite;
    font-weight: 100px;
    text-align: center;
}
h3{
    text-indent: 10%;
}
#tab{
    margin-top: 0%;
}

#sip{
    padding-top: -50%;
    font-size: xx-large;
    color: orangered;
}
h6{
    text-align: center;
    text-indent: 7%;
}